@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-anime {
  bottom: 70px;
  animation: movingArrow 0.5s linear alternate infinite;
  /* transition: all 1s ease-in-out; */
}
@keyframes movingArrow {
  /* 40%,
  60% {
    left: calc(100% + 30px);
  } */
  100% {
    bottom: 100px;
  }
}
